<div class="container-fluid">

                      
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Crear Marcas</h6>
        </div>
        <div class="card-body">
<form action="/Dashboard/admin/marca" object="${marca" method="POST">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Nombre de la Marca </label>
                    <input type="text" class="form-control" field="*{nombreMarca" >
                  </div>
                 
                </div>
               
                <button type="submit" class="btn btn-success">Crear</button>
            </form>
        </div>
    </div>

 </div>